.colors {
    display : flex;
    gap : 1rem;
    border-left : 2px solid black;
    padding : 0 0.5rem;
}



.container b {
    display : block;
    margin : 0.7rem 0 0.5rem 0;
}

.container .colorBox {
    padding : 0.2rem;
    box-sizing: border-box;
    height : 1.5rem;
    width : 1.5rem;
    display : flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container .active {
     border : 2px solid black;
}

.container .color {
    box-sizing: border-box;
    height : 1rem;
    width : 1rem;
    border : 1px solid black;
    cursor: pointer;
}

.container .customPicker {
    position : absolute;
    z-index: 999;
    left : 3rem;
    top : 0;
}

.container .mainColor {
    height : 1.5rem;
    width : 1.5rem;
}

.container .colorPicker {
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 1rem;
    position: relative;
}
