.container {
    display : flex;
    position : fixed;
    left : 3rem;
    bottom : 3rem;
}

.container button {
    height : 2.7rem;
    width : 2.7rem;
    background-color: #fff;
    border : none;
    cursor : pointer;
}

.container button:hover {
    transform: scale(1.3);
}

.container .disabled {
    cursor : not-allowed;
}