.textArea {
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    white-space: pre; 
    overflow: hidden;
    resize: none;
    display: inline-block;
    min-width: 1px;  
    font-size : inherit;
    font-family : inherit;
    color : inherit;
    line-height : 1;
    font-family: "Caveat";
}